# 6.5.2 Create Heatmaps for Weather Parameters

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kodiak,US,2021-07-29 17:54:27,57.7900,-152.4072,53.29,81,100,1.63
1,1,Albany,US,2021-07-29 17:50:43,42.6001,-73.9662,73.80,83,98,1.01
2,2,San Rafael,AR,2021-07-29 17:53:39,-34.6177,-68.3301,61.09,18,0,13.24
3,3,Boysun,UZ,2021-07-29 17:54:28,38.2061,67.1986,78.93,22,0,8.41
4,4,Butaritari,KI,2021-07-29 17:54:28,3.0707,172.7902,82.78,73,9,10.38

In [3]:
# Check data type of columns in city data DataFrame
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

### Create a Maximum Temperature Heatmap; Adjust Heatmap Zoom, Intensity, and Point Radius

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Use with (B) and (D) modification when assigning heat map variable 

# Get the maximum temperature from the Max Temp column in the city_data DataFrame
max_temp = city_data_df["Max Temp"]

# Create an empty list to store max temps greater than 0F
temps = []

# Create a for loop to iterate through the max_temp and add the temperatures that are greater than 0 °F to a new list
for temp in max_temp:
    temps.append(max(temp, 0))

#### General syntax for creating a heatmap:

1. Assign the locations to an array of latitude and longitude pairs.

locations = [latitude, longitude]

2. Assign the weights variable to some values.

temperatures = # an array of length equal to the locations array length

3. Assign the figure variable to the gmaps.figure() attribute.

fig = gmaps.figure()

4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)


5. Add the heatmap layer.

fig.add_layer(heatmap_layer)

6. Call the figure to plot the data.

fig

In [12]:
# Create the heatmap for the maximum temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable; Add the geographic center of Earth in the form of latitude and longitude (30.0° N and 31.0° E). Also, add a zoom level so that only one map of Earth is shown
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#A Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
    #B Modify weights after creating for loop in previous cell
    #heat_layer = gmaps.heatmap_layer(locations, weights=temps)
        #C Modify heat_layer variable to perform a list comprehension within the heatmap_layer() function
        #C Works after for loop cell is ran; Also works without running entire (previous) for loop cell 
        #heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
            #D Modify dissipation, max_intensity, and point_radius
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4) 

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Humidity Heatmap

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Cloudiness Heatmap

In [14]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Wind Speed Heatmap

In [15]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# 6.5.3 Get Vacation Criteria

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Boysun,UZ,2021-07-29 17:54:28,38.2061,67.1986,78.93,22,0,8.41
4,4,Butaritari,KI,2021-07-29 17:54:28,3.0707,172.7902,82.78,73,9,10.38
6,6,Victoria,HK,2021-07-29 17:53:46,22.2855,114.1577,86.38,88,100,1.99
8,8,Kahului,US,2021-07-29 17:54:30,20.8947,-156.4700,76.84,91,23,11.99
11,11,Liku,ID,2021-07-29 17:54:31,-0.7275,119.8922,76.73,92,73,2.73
...,...,...,...,...,...,...,...,...,...,...
563,563,Xuddur,SO,2021-07-29 17:57:43,4.1213,43.8894,75.47,59,100,20.29
565,565,Duluth,US,2021-07-29 17:57:44,46.7833,-92.1066,77.54,65,1,1.99
566,566,Kita,ML,2021-07-29 17:57:44,13.0349,-9.4895,78.60,85,100,2.91
572,572,Vallenar,CL,2021-07-29 17:57:47,-28.5708,-70.7581,76.05,11,0,5.73
575,575,Kokkola,FI,2021-07-29 17:57:48,63.8385,23.1307,75.36,63,24,1.01

In [19]:
# Determine if there are any null values in the new DataFrame
preferred_cities_df.count()

# Output: 207 Rows from previous cell = 207 rows in each column = no null values

City_ID       207
City          207
Country       207
Date          207
Lat           207
Lng           207
Max Temp      207
Humidity      207
Cloudiness    207
Wind Speed    207
dtype: int64

# 6.5.4 Map Vacation Criteria

### Get Travel Destinations

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3          Boysun      UZ     78.93  38.2061   67.1986
4      Butaritari      KI     82.78   3.0707  172.7902
6        Victoria      HK     86.38  22.2855  114.1577
8         Kahului      US     76.84  20.8947 -156.4700
11           Liku      ID     76.73  -0.7275  119.8922
15         Faanui      PF     78.26 -16.4833 -151.7500
16  San Cristobal      VE     78.98   7.7669  -72.2250
17           Hilo      US     76.62  19.7297 -155.0900
19       Luziania      BR     78.98 -16.2525  -47.9503
21       Freiburg      CH     78.26  46.8024    7.1513

### Retrieve Hotels from a Nearby Search

#### Set the Parameters for a Nearby Search

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}


# Iterate Through hotel_df DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Boysun,UZ,78.93,38.2061,67.1986,Gaza Hotel
4,Butaritari,KI,82.78,3.0707,172.7902,Isles Sunset Lodge
6,Victoria,HK,86.38,22.2855,114.1577,Mini Hotel Central
8,Kahului,US,76.84,20.8947,-156.4700,Maui Seaside Hotel
11,Liku,ID,76.73,-0.7275,119.8922,Wahyu
15,Faanui,PF,78.26,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
16,San Cristobal,VE,78.98,7.7669,-72.2250,Posada Villaven C.A.
17,Hilo,US,76.62,19.7297,-155.0900,Hilo Hawaiian Hotel
19,Luziania,BR,78.98,-16.2525,-47.9503,HOTEL SARON
21,Freiburg,CH,78.26,46.8024,7.1513,Hôtel de la Rose Fribourg

### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

# Create markers for each city on the heatmap and info box template
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
# Add markers on top of the heat map
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [29]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]